extends base/base.pug
block append nav
	li.nav-item
		a.nav-link(href=``) Discord Server
block content
	.card.text-center
		.card-header.bg-dark.text-light
			h1 Welcome to The Heroic Emolga's Legendary League's Replay Server!
		.card-body
			p Click below to look at all of the replays!
			a(href=`/replays`)
				button.btn.btn-primary.rounded Replays
		.card-footer.bg-dark.text-light